*.pyc
__pycache__/
*.pyo
*.pyd
.Python
.env
.venv
build/
dist/
*.egg-info/
.ipython_checkpoints
*.egg
*.log
*.sqlite3
*.db
*.DS_Store
*.coverage
*.cover
*.hypothesis/
*.mypy_cache/
*.pytest_cache/
*.coveragerc
*.tox/
datasets/*
.ipynb*
_d_*